body {
  -webkit-app-region: drag;
  background-color: #00B140;
  margin:0px;
}

input {
  -webkit-app-region: no-drag;
}

input:focus {outline: none;}

.button-hidden {opacity: 0;}
.button-hidden:hover {opacity: 1;}
.button {opacity: 1;}

.container {
  display: grid;
  grid-template:
  ". . ." 90px
  ". c ." 345px
  ". s ." 40px / 165px 775px 20px
}

.input[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: white;
}

.fadeOut {
  animation: fadeOut 1s forwards;
  animation-delay: 4s;
}

.svg-container {
  grid-area: c;
  display: grid;
  grid-template:
  ". n sb" 140px
  ". u sb" 205px / 180px 240px
}

#aligner {
  grid-area: n;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-speech-bubble {grid-area: sb;}

#canvas-user {grid-area: u;}

#channelName {
  grid-area: cn;
  align-self: center;
  border:white;
  text-align: center;
  visibility: hidden;
}

#closeBtn {
  grid-area: c;
  background-color: red; 
}

#editChannel {
  grid-area: e;
  background-color: white;
}

#lastMessage {
  align-self: center;
  text-align: center;
  font-family: 'Comic Sans';
}

#minimiseBtn {
  grid-area: m;
  background-color: white; 
}

#nextAvatar {
  grid-area: na;
  visibility: hidden;
}

#prevAvatar {
  grid-area: pa;
  visibility: hidden;
}

#setUser {grid-area: b;}

#selectedUser {
  grid-area: i;
  text-align: center;
  visibility: hidden;
}

#speechBubble {
  visibility: hidden;
  opacity: 0;
}

#speechBubbleMessage {
  align-items: center; 
  display: flex;
  height: 100%;
  justify-content: center; 
  width: 100%; 
}

#topBar {
  display: grid;
  grid-template:
  "e cn . m c" 25px / 50px 800px auto 25px 25px
}

#userName {
  align-self: center;
  background: transparent;
  border:white;
  color: transparent;
  font-size: xx-large;
  font-family: 'Impact', Impact;
  text-shadow: 0 0 0 white;
  text-align: center;
}

#userSelector {
  grid-area: s;
  display: grid;
  grid-template:
  ". i i i ." 16px
  ". . . . ." 4px
  ". pa b na ." 20px / 195px 55px 100px 55px
}

@font-face {
  font-family: 'Comic Sans';
  src: url('./resources/fonts/ComicMono-Bold.ttf');
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}