body {
  -webkit-app-region: drag;
  background-color: #00B140;
  margin:0px;
}
input {
  -webkit-app-region: no-drag;
}
input:focus {
  outline: none;
}

.button-hidden {opacity: 0;}
.button-hidden:hover {opacity: 1;}
.button {opacity: 1;}

.container {
  display: grid;
  grid-template:
  ". . ." 220px
  ". c ." 485px
  ". s ." 100px
  ". . ." auto / 1125px 775px
}

.input[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: white;
}

.fadeOut {
  animation: fadeOut 1s forwards;
  animation-delay: 4s;
}

.svg-container {
  grid-area: c;
  display: grid;
  grid-template:
  ". . ." 140px
  ". n sb" 140px
  ". u sb" 205px / 180px 240px
}

#aligner {
  grid-area: n;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas-speech-bubble{
  grid-area: sb;
}
#canvas-user{
  grid-area: u;
}
#channelName{
  align-self: center;
  border:white;
  text-align: center;
  visibility: hidden;
  width:90%;
}
#closeBtn{
  background-color: red; 
  float: right; 
  height: 25px; 
  width: 25px;
}
#editChannel{
  background-color: white;
  height: 25px;
  width: 50px;
}
#lastMessage {
  align-self: center;
  text-align: center;
  font-family: 'Comic Sans';
}

#setUser {
  grid-area: b;
}

#selectedUser {
  grid-area: i;
  text-align: center;
  visibility: hidden;
}

#speechBubble {
  visibility: hidden;
  opacity: 0;
}
#speechBubbleMessage {
  align-items: center; 
  display: flex;
  height: 100%;
  justify-content: center; 
  width: 100%; 
}
#userName {
  align-self: center;
  background: transparent;
  border:white;
  color: transparent;
  font-size: xx-large;
  font-family: 'Impact', Impact;
  text-shadow: 0 0 0 white;
  text-align: center;
}

#userSelector {
  grid-area: s;
  display: grid;
  grid-template:
  ". . . . ." 25px
  ". . b . ." 35px
  ". . . . ." 5px
  ". i i i ."/ 140px 110px 100px 110px
}

@font-face {
  font-family: 'Comic Sans';
  src: url('./resources/fonts/ComicMono-Bold.ttf');
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}